body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container-1 {
  padding: 20px;
  text-align: center;
}

.input-field-1 {
  margin-bottom: 5px;
}

.button-in {
  max-width: 150px;
  max-height: fit-content;
}

.button-out {
  background-color: red;
}

.error-notif {
  color: red;
  margin-top: 5px;
}

.success-notif {
  color: green;
  margin-top: 5px;
}
